body {
	background: #f6f5f3;
	color: #333;
  	font-size: 100%;
  	line-height: 1.75;
  	font-family: 'Merriweather', serif;
}

/* Customize container */
.container {
  	max-width: 730px;
  	width: 90%;
  	margin: 0 auto;
  	padding: 32px 5% 64px 5%;
}

a { color: #09c; text-decoration: none; }
a:hover { color: #069; }
h1 a { color: #333;}

